@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Regular.ttf);
}
@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Bold.ttf);
    font-weight: bold;
}
@font-face{
    font-family: 'Rubik';
    src: url(../fonts/Rubik-Light.ttf);
    font-weight: 300;
}